.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 28px;
  padding: 0 12px;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #e5e7eb;
  color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: 600;
  z-index: 1;
}

.label {
  margin-left: 8px;
  font-size: 0.85rem;
  color: #6b7280;
  white-space: nowrap;
}

.line {
  position: absolute;
  top: 50%;
  left: calc(100% + 6px);
  width: calc(100% - 32px);
  height: 2px;
  background: #e5e7eb;
  transform: translateY(-50%);
  z-index: 0;
}

/* States */
.active .circle {
  background: #111;
  color: #facc15;
}

.active .label {
  color: #111;
  font-weight: 600;
}

.completed .circle {
  background: #16a34a;
  color: white;
}

.completed .label {
  color: #065f46;
}

.completed .line {
  background: #16a34a;
}
@media (max-width: 640px) {
  .label {
    display: none;
  }

  .wrapper {
    margin-bottom: 20px;
  }
}
.card {
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
}

/* ---------- Headers ---------- */
.title {
  font-weight: 600;
}

/* ---------- Radio Options ---------- */
.methodOption {
  border: 1px solid #a4a4a4;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.methodOption:hover {
  transform: translateY(-2px);
  border: 1px solid #ffce1b;
  box-shadow: 0 8px 10px rgba(194, 194, 194, 0.425);
}

.methodSelected {
  background: #ffce1b;
  border: 1px solid #ffce1b;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* ---------- Summary ---------- */
.summary {
  background: linear-gradient(180deg, #fff7cc 0%, #fde68a 100%);
  border-radius: 14px;
  padding: 16px;
}

/* ---------- Parcel Cards ---------- */
.parcelCard {
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.parcelCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

/* ---------- Pricing ---------- */
.totalBox {
  background-color: #f4f4f4;
  border-radius: 14px;
  padding: 16px;
  margin-top: 1rem;
}
.totalBox1 {
  font-family: "Poppings",sans-serif;
  background-color: #ffce1b;
  border-radius: 14px;
  padding: 16px;
  margin-top: 1rem;
}

/* ---------- Footer ---------- */
.footer {
  border-top: 1px solid #e5e7eb;
}

/* ---------- Buttons ---------- */
.primaryBtn {
  background: #000;
  color: #ffce1b;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.primaryBtn:hover {
  transform: translateY(-1px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.3);
}
